<ion-view title="Storage" id="storage" class=" gvTabs">
    <ion-content padding="true" class="has-header">
      <div class="storage-storage">
      </div>
      <div class="storage-cloud">
      </div>
<!--        <div class="card ink">
            <div align="center">
                <h2>Cloud Storage</h2>
                <ul class="list">
                    <li class="item">Plan: <b>{{myCloud.planName}}</b></li>
                    <li class="item">Total Storage: <b>{{prettyBytes(myCloud.storageTotal)}}</b></li>
                    <li class="item">Storage Used: <b>{{prettyBytes(myCloud.storageUsed)}}</b></li>
                    <li class="item">Storage Remaining: <b>{{prettyBytes(myCloud.storageRemaining)}}</b></li>
                </ul>
            </div>
        </div> -->
    </ion-content>
</ion-view>
